{% extends '_layouts/style-guide' %}

{% block main %}
<h1>Site header</h1>

<header class="site-header">
    <div class="l-container l-container--17">
        <a href="" class="site-header__branding">
            <img src="/static/img/branding/gladney-logo.svg" alt="{{ siteName }} logo">
        </a>


        <a href="" class="site-nav-toggle js-site-nav-toggle"></a>


        <nav class="site-nav">
            <ul class="site-nav__primary">
                <li><a href="">I’m pregnant</a></li>
                <li><a class="is-active" href="">I want to adopt</a></li>
                <li><a href="">Post-adoption support</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Contact</a></li>
            </ul>


            <ul class="site-nav__secondary">
                <li><a href="https://iamgladney.org/civicrm/contribute/transact?reset=1&id=4" title="Visit I am Gladney to donate">Donate</a></li>
                <li><a href="https://iamgladney.org/" title="Visit I am Gladney">I am Gladney</a></li>
                <li><a href=" https://iamgladney.org/what-is-gfa" title="Visit I am Gladney">Gladney Family Associations</a></li>
                <li><a href="https://iamgladney.org/user" title="Log in at I Am Gladney">My Gladney login</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </nav>
    </div>
</header>




<h1>Subnav</h1>

<div class="subnav">
    <div class="l-container">
        <strong class="subnav__label">Domestic Infant</strong>
        <nav>
            <ul class="subnav__nav">
                <li><a href="">Overview</a></li>
                <li><a href="">Exploring Adoption</a></li>
                <li><a href="">Success Stories</a></li>
                <li><a href="">Medically Fragile</a></li>
                <li><a class="is-active" href="">Independent</a></li>
            </ul>
        </nav>
    </div>
</div>





<h1>Hero</h1>

<section class="hero" style="background-image: url('/static/img/hero/hero-1.jpg');">
    <div class="l-container">
        <div class="hero__top">
            <h1>
                <span>Learn more about</span>
                <a href="/i-want-to-adopt/domestic-infant-adoption">Domestic Infant adoption</a>
                <a href="/i-want-to-adopt/international-adoption">International adoption</a>
                <a href="/i-want-to-adopt/foster-adoption">Foster Adoption</a>
            </h1>
        </div>

        <div class="hero__bottom">
            <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Nullam non augue et nibh blandit volutpat in in mi. Nullam quis eros a risus gravida maximus vel ut enim. Aliquam in dignissim justo, idyr commodo ipsum.</p>
        </div>
    </div>
</section>




<h1>Banner (standard)</h1>

<header class="banner" style="background-image: url('/static/img/temp/banner-1.jpg')">
    <h1 class="banner__heading">Independent</h1>
</header>



<h1>Banner (standard with subheading)</h1>

<header class="banner" style="background-image: url('/static/img/temp/banner-1.jpg')">
    <h1 class="banner__heading">Independent</h1>
    <p class="banner__subheading">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
</header>



<h1>Banner --plain</h1>

<header class="banner banner--plain">
    <h1 class="banner__heading banner__heading--s">The experience and solid leadership of Gladney's executives, along with the talent and dedication of our employees, help to make Gladney Center for Adoption a success.</h1>
</header>



<h1>Banner --tall</h1>

<header class="banner banner--tall" style="background-image: url('/static/img/temp/banner-1.jpg')">
    <h1 class="banner__heading">Foster Adoption</h1>
    <p class="banner__subheading">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
</header>



<h1>Banner --tall  --text-bottom</h1>

<header class="banner banner--tall banner--text-bottom" style="background-image: url('/static/img/temp/banner-1.jpg')">
    <h1 class="banner__heading">Foster Adoption</h1>
    <p class="banner__subheading">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
</header>



<h1>Banner (standard with subheading and banner-overlap content)</h1>

<header class="banner" style="background-image: url('/static/img/temp/banner-1.jpg')">
    <h1 class="banner__heading">Independent</h1>
    <p class="banner__subheading">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
</header>
<div class="l-container l-container--11 banner-overlap">
    <div class="l-container l-container--9">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptate nisi culpa dolores quaerat repellat, sit nobis rerum, totam, iusto placeat suscipit ducimus facilis numquam. Enim delectus, vitae molestias quaerat odio placeat nobis ipsum itaque ab. Expedita tempora eius explicabo obcaecati rerum impedit, repudiandae rem dignissimos, maxime numquam ut voluptatibus natus optio et laudantium cum vel voluptas consequatur provident fugiat veniam tempore! Sint asperiores laborum delectus earum illo alias molestiae perferendis ullam numquam. Tempore porro, perferendis quo voluptatum iste distinctio nisi, voluptates esse fugiat, voluptatibus corrupti, autem quae. Blanditiis doloremque, laudantium molestiae. Ab optio pariatur eligendi aut, asperiores tempora, id.</p>
    </div>
</div>





<h1>Level 3 Nav</h1>

<div class="l-container l-container--9">
    <h2>Narrow section heading</h2>
    <h3>Subheading</h3>
    <p>Other content before navigation</p>

    <nav class="level-3-nav">
        <ul>
            <li><a href="">Adoption criteria</a></li>
            <li><a href="">The process</a></li>
            <li><a href="" class="is-active">Common questions</a></li>
            <li><a href="">Financial information</a></li>
            <li><a href="">Post-adoption services</a></li>
        </ul>
    </nav>

    <p class="lede">Content after navigation lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dolorem rem ea reiciendis? Tenetur expedita fugit vel nulla fugiat iste!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eum adipisci dolores aspernatur animi cupiditate perferendis magnam tempore laboriosam et ab, esse vero, accusantium hic id velit quasi explicabo corporis?</p>
</div>





<h1>Image carousel (standard)</h1>

<section class="image-carousel js-image-carousel">
    {# @note: need iamges to crop to equal dimensions #}
    <img src="/static/img/temp/image-carousel-1.jpg" alt="">
    <img src="/static/img/temp/image-carousel-2.jpg" alt="">
    <img src="/static/img/temp/image-carousel-3.jpg" alt="">
</section>


<h1>Image carousel --small</h1>

<section class="image-carousel image-carousel--small js-image-carousel">
    {# @note: need iamges to crop to equal dimensions #}
    <img src="/static/img/temp/image-carousel-1.jpg" alt="">
    <img src="/static/img/temp/image-carousel-2.jpg" alt="">
    <img src="/static/img/temp/image-carousel-3.jpg" alt="">
</section>





<h1>Thumbnail carousel</h1>
<section class="thumbnail-carousel js-thumbnail-carousel">
    <div class="thumbnail-carousel__carousel">
        <img src="/static/img/temp/profile-1.jpg" alt="">
        <img src="/static/img/temp/profile-2.jpg" alt="">
        <img src="/static/img/temp/profile-3.jpg" alt="">
    </div>

    <nav class="thumbnail-carousel__nav">
        <a href="" class="thumbnail-carousel__prev">{{ svgSprite.icon('left-circle', 'Previous') }}</a>
        <div class="thumbnail-carousel__thumbs">
            <a href=""><img src="/static/img/temp/profile-1.jpg" alt=""></a>
            <a href=""><img src="/static/img/temp/profile-2.jpg" alt=""></a>
            <a href=""><img src="/static/img/temp/profile-3.jpg" alt=""></a>
        </div>
        <a href="" class="thumbnail-carousel__next">{{ svgSprite.icon('right-circle', 'Next') }}</a>
    </nav>
</section>





<h1>Content carousel (standard)</h1>
<div class="l-container">
    <div class="content-carousel js-content-carousel">
        <div class="content-carousel__item">
            <div class="story story--staff">
                    <div href="" class="story__image">
                        <img src="/static/img/temp/story-1.jpg" alt="">
                        <span>Amy Shore, <em>New Beginnings Caseworker</em></span>
                    </div>

                    <div class="story__content">
                        <header class="story__heading">
                            <h3>This is why</h3>
                            <h4> The Gladney staff explains why they do what they do every day.</h4>
                        </header>
                        <p>As an adoptive parent myself, I treat every birth parent as if she is my daughter's bio mom.  It is an honor and a privilege to walk by the side of a mom who puts the needs of her child before her own.  I am her advocate and cheerleader who shares the laughter and the tears. </p>
                    </div>
            </div>
        </div>

        <div class="content-carousel__item">
            <div class="story story--staff">
                    <div href="" class="story__image">
                        <img src="/static/img/temp/story-1.jpg" alt="">
                        <span>Amy Shore, <em>New Beginnings Caseworker</em></span>
                    </div>

                    <div class="story__content">
                        <header class="story__heading">
                            <h3>This is why</h3>
                            <h4> The Gladney staff explains why they do what they do every day.</h4>
                        </header>
                        <p>As an adoptive parent myself, I treat every birth parent as if she is my daughter's bio mom.  It is an honor and a privilege to walk by the side of a mom who puts the needs of her child before her own.  I am her advocate and cheerleader who shares the laughter and the tears. </p>
                    </div>
            </div>
        </div>
    </div>
</div>





<h1>Tabbed content</h1>

<div class="l-container">
    <ul class="tabbed-content">
        <li class="tabbed-content__item">
            <a id="tab1" href="#tab1" class="tabbed-content__title"><h3>Child's Bio</h3></a>
            <div class="tabbed-content__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo, consectetur odit. Veniam, nam, ipsum! Magnam ullam doloribus quod dolores.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ex placeat, non eligendi odio error deleniti, vel doloribus quo at facilis quibusdam est dignissimos? Dolores atque deserunt omnis totam enim magni temporibus vel debitis eveniet aliquam consequatur quam officia placeat dolor, mollitia cumque dolorum a, assumenda rerum repellat quibusdam perferendis. Atque vero necessitatibus tempore nisi aut nostrum, repudiandae rerum, ipsa minima asperiores beatae distinctio ratione laboriosam explicabo, nemo ab nulla unde soluta et quisquam accusantium doloribus libero! Aliquam illo, maxime.</p>
            </div>
        </li>

        <li class="tabbed-content__item">
            <a id="tab2" href="#tab2" class="tabbed-content__title"><h3>Criteria</h3></a>
            <div class="tabbed-content__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quibusdam voluptatibus, doloremque quisquam nobis magni autem! Odit incidunt rerum est eius velit praesentium dolorum, voluptas qui, modi mollitia repellendus consectetur fugiat! Molestias totam provident dolores deserunt tempora expedita ratione repellat, ipsum</p>
                <p>Quidem earum nemo quaerat reiciendis qui dolorem maiores, deleniti quod voluptatem placeat. Reprehenderit, vel, illum? Laborum odio facilis illo, qui ipsam suscipit? Officia magni laborum, temporibus at itaque quis! Error quibusdam impedit aliquid, amet inventore maiores, ratione laborum delectus a, accusantium dolores, architecto natus doloribus est. Corrupti eius, officiis, dolore, similique blanditiis, repellendus officia temporibus placeat maxime quos dicta.</p>
            </div>
        </li>

        <li class="tabbed-content__item">
            <a id="tab3" href="#tab3" class="tabbed-content__title"><h3>Lorem Ipsum</h3></a>
            <div class="tabbed-content__content">
                <p>Molestias similique, sapiente hic delectus alias dolores doloremque mollitia ullam maiores voluptatibus? Ut atque, quasi nulla veritatis modi et vitae molestias debitis explicabo alias saepe aliquid autem soluta dolorem, labore cupiditate repellat inventore a pariatur?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quidem aliquid explicabo blanditiis officiis ut quae aut et aperiam, nobis dolorem perferendis itaque dolores tempore nisi, maxime eveniet sunt doloremque!</p>
                <p>Voluptatum debitis itaque, aliquam vitae tenetur, voluptas consequatur explicabo rerum, praesentium minima quo eligendi provident aliquid cupiditate illum! Aperiam facere fugiat explicabo officia eius deserunt.</p>
            </div>
        </li>
    </ul>
</div>






<h1>Story</h1>
<div class="l-container">
    <div class="story">
            <a href="" class="story__image">
                <img src="/static/img/temp/story-1.jpg" alt="">
                <span>Read Nguyen's Story</span>
            </a>

            <div class="story__content">
                <header class="story__heading">
                    <h3>Success Stories</h3>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vitae recusandae, velit quo earum veritatis officiis eius facere, sint fugiat! Reiciendis aperiam, autem aliquam! Aliquam?</p>
            </div>
    </div>
</div>



<h1>Story --staff</h1>
<div class="l-container">
    <div class="story story--staff">
            <div href="" class="story__image">
                <img src="/static/img/temp/story-1.jpg" alt="">
                <span>Amy Shore, <em>New Beginnings Caseworker</em></span>
            </div>

            <div class="story__content">
                <header class="story__heading">
                    <h3>This is why</h3>
                    <h4> The Gladney staff explains why they do what they do every day.</h4>
                </header>
                <p>As an adoptive parent myself, I treat every birth parent as if she is my daughter's bio mom.  It is an honor and a privilege to walk by the side of a mom who puts the needs of her child before her own.  I am her advocate and cheerleader who shares the laughter and the tears. </p>
            </div>
    </div>
</div>





<h1>Highlight grid</h1>

<div class="l-container l-container--13">
    <section class="highlight-grid">
        {# <div class="highlight-grid__bg-1"></div> #}
        <div class="highlight-grid__item highlight-grid__item--mission">
            <h2 class="highlight-grid__title">Gladney Mission</h2>
            <p>Creating Bright Futures through Adoption</p>
        </div>
        <div class="highlight-grid__item highlight-grid__item--logo">
            <img src="/static/img/branding/gladney-icon-white.svg">
        </div>
        <div class="highlight-grid__item highlight-grid__item--numbers">
            <h2 class="highlight-grid__title">In 2016</h2>
            <strong>268</strong>
            <p>children were placed with adoptive families through Gladney</p>

        </div>
        <div class="highlight-grid__item highlight-grid__item--vision">
            <h2 class="highlight-grid__title">Gladney Vision</h2>
            <p>For the sake of the children and those who love them, Gladney is dedicated to creating the finest adoption experience possible while forging new paths in serving the mission of adoption.</p>
        </div>

        <div class="highlight-grid__flowers highlight-grid__flowers--3"></div>
        <div class="highlight-grid__flowers highlight-grid__flowers--4"></div>
        <div class="highlight-grid__flowers highlight-grid__flowers--5"></div>
    </section>
</div>





<h1>CTA bucket (standard)</h1>

<section class="cta-bucket">
    <div class="l-container">
        <a href="" class="button button--xl button--outline button--salmon">Get Started</a>
    </div>
</section>



<h1>CTA bucket --with-text</h1>

<section class="cta-bucket cta-bucket--with-text">
    <div class="l-container">
        <p>While Gladney has offices throughout the US, Domestic Orientation occurs at the Fort Worth Campus and is an invitation-only event. If you’d like more details on attending an Orientation, request a free Information Packet.</p>
        <a href="" class="button button--xl button--outline button--salmon">We want to hear from you</a>
    </div>
</section>



<h1>CTA bucket --image</h1>

<section class="cta-bucket cta-bucket--image" style="background-image: url('/static/img/temp/cta-bucket.jpg')">
    <div class="l-container">
        <a href="" class="button button--xl button--outline button--salmon">Get Started</a>
    </div>
</section>





<h1>Share your story</h1>

<section class="share-your-story">
    <div class="l-container l-container--17">
        <div class="l-grid">
            <h3 class="share-your-story__title">
                Share your family's
                <strong>Adoption Story</strong>
            </h3>

            <p class="share-your-story__intro">
                We want to make it easy for you to share your stories with us and with other families who are going through this process. If you recently adopted from the Domestic Infant program and would like to share your photos and stories, here are some story starters ›
            </p>

            <ul class="share-your-story__list bullet-list">
                <li>The first time I saw you...</li>
                <li>Our placement day...</li>
                <li>We chose Gladney because...</li>
                <li>Our adoption journey...</li>
                <li>Our roller coaster ride...</li>
                <li>Not knowing what to expect...</li>
                <li>Gladney helped us...</li>
                <li>The trip home...</li>
            </ul>

            <div class="share-your-story__disclaimer">
                <strong>Rights &amp; Release:</strong>
                By submitting this material you grant the Gladney Center the right to use, publish and otherwise publicly display this material in the manner The Gladney Center chooses, including use in brochures and on the web.
            </div>
        </div>
    </div>

    <a class="share-your-story__cta" href="mailto:adoption@gladney.org">
        <div class="l-container">
            Please email your story and photos to us at <strong>adoption@gladney.org</strong>. We look forward to hearing from you!
        </div>
    </a>
</section>





<h1>Photo Collage</h1>

<section class="photo-collage">
    <h2 class="photo-collage__heading">Learn More About Our...</h2>

    <ul class="photo-collage__list">
        <li>
            <a href="" style="background-image: url('/static/img/temp/photo-collage-1.jpg')">
                <span>History of success</span>
            </a>
        </li>

        <li>
            <a href="" style="background-image: url('/static/img/temp/photo-collage-1.jpg')">
                <span>History of success</span>
            </a>
        </li>

        <li>
            <a href="" style="background-image: url('/static/img/temp/photo-collage-1.jpg')">
                <span>History of success</span>
            </a>
        </li>
    </ul>
</section>






<h1>Signposts (one-up)</h1>

<section class="signposts signposts--one-up">
    <a href="">
        <img src="/static/img/temp/signpost-3.jpg" alt="">
        <h3 class="signposts__title">Waiting Children</h3>
        <div class="signposts__overlay signposts__overlay--waiting">
            <p>Waiting Children Colombia is a Gladney program that places babies, toddlers, and older children with medical needs from Colombia. Also available for adoption are older (7+ years of age) who are healthy as well as sibling groups.</p>
            <span>Learn more</span>
        </div>
    </a>
</section>



<h1>Signposts (two-up)</h1>

<section class="signposts signposts--two-up">
    <a href="">
        <img src="/static/img/temp/signpost-1.jpg" alt="">
        <h3 class="signposts__title">Medically Fragile</h3>
        <div class="signposts__overlay signposts__overlay--fragile">
            <p>Every year in the U.S., medically fragile infants are born every day. The Gladney Center for Adoption has a program for infants with non-correctable medical and/or congenital conditions.</p>
            <span>Learn more</span>
        </div>
    </a>

    <a href="">
        <img src="/static/img/temp/signpost-2.jpg" alt="">
        <h3 class="signposts__title">Independent</h3>
        <div class="signposts__overlay signposts__overlay--independent">
            <p>The Independent Adoption program allows adoptive parents who have already located their own birthmother to utilize the outstanding adoption services Gladney provides for both the birth mother and the adoptive parents.</p>
            <span>Learn more </span>
        </div>
    </a>
</section>






<h1>Block links</h1>
<div class="l-container">
    <div class="l-grid">
        <ul class="block-links">
            <li><a href="">I adopted a domestic infant</a></li>
            <li><a href="">I adopted from another Country</a></li>
            <li><a href="">I adopted from foster care</a></li>
            <li><a href="">I was adopted</a></li>
            <li><a href=""> placed a child for adoption</a></li>
        </ul>
    </div>
</div>





<h1>I Am Gladney</h1>

<section class="i-am-gladney">
    <div class="l-container l-container--17">
        <div class="i-am-gladney__top">
            <img class="i-am-gladney__graphic" src="/static/img/i-am-gladney.svg" alt="I Am Gladney">

            <h3 class="i-am-gladney__title">You are invited to be a part of the <br>tradition and excitement of the <strong>Gladney Family Association</strong> network of support</h3>
        </div>

        <div class="i-am-gladney__text">
            <p>The Gladney Family Associations started over 50 years ago to support, nurture and educate Gladney parents and parents-to-be on issues concerning adoption and parenting. Today, that tradition continues for you and your children. GFAs across the country provide parent-to-parent support for adoptive families. GFA events are a great place to build community and to just have fun.</p>
            <p>To learn more about GFA’s near you visit</p>
            <p><a href="http://iamgladney.org" class="button button--rnd" title="Visit I Am Gladney.org">IAMGLADNEY.ORG</a></p>
        </div>
    </div>
</section>





<h1>I Am Gladney Small</h1>

<section class="i-am-gladney-small">
    <img class="i-am-gladney-small__graphic" src="/static/img/i-am-gladney.svg" alt="I Am Gladney">
    <p class="i-am-gladney-small__text">Gladney Family Associations across the country provide parent to parent support for all Gladney families.</p>
</section>





<h1>Superkids</h1>

<aside class="superkids">
    <header class="superkids__header">
        <img src="/static/img/superkids-logo.png" alt="Superkids logo" class="superkids__logo">
        <h3 class="superkids__title">Latest blog posts</h3>
    </header>


    <ul class="superkids__posts">
        <li>
            <img src="/static/img/temp/superkids-1.jpg" alt="Family Friday" class="superkids__image">
            <div class="superkids__extract">
                <h3>Family Friday</h3>
                <p>It's Friday and we have matches to announce! {Insert happy Friday dance!} Hugh Loyal Eddie Larson We are over the moon excited for each of these...</p>
                <a href="">Read More</a>
            </div>
        </li>

        <li>
            <img src="/static/img/temp/superkids-2.jpg" alt="Ethan!" class="superkids__image">
            <div class="superkids__extract">
                <h3>Ethan!</h3>
                <p>We are still looking for Ethan's family! You can read more about him here. Please help us out and share this post. We have an amazing community of people... who read</p>
                <a href="">Read More</a>
            </div>
        </li>

        <li>
            <img src="/static/img/temp/superkids-3.jpg" alt="Iris Video!" class="superkids__image">
            <div class="superkids__extract">
                <h3>Iris Video!</h3>
                <p>This is Iris. You can read more about her here. Here is a little video that is easy to share. Let's see how many times her video gets viewed today!...</p>
                <a href="">Read More</a>
            </div>
        </li>
    </ul>


    <nav class="superkids__links">
        <a href="" class="superkids__facebook">Facebook {{ svgSprite.icon('facebook-square', '') }}</a>
        <a href="http://superkidscharity.blogspot.com/" target="_BLANK" class="superkids__blog">Visit all {{ svgSprite.icon('new-window', '') }}</a>
        <a href="" class="superkids__donate">Donate to Superkids</a>
    </nav>
</aside>





<h1>Profile search</h1>

<section class="profile-search">
    <strong class="profile-search__title">Meet waiting children</strong>
    <form action="">
        <ul class="form-fields form-fields--center">
            <li class="cols-2">
                <div>
                    <label for="gender">Gender</label>
                    <div class="select select--green--d">
                        <select name="" id="gender">
                            <option value="All" selected >All</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label for="siblings">Siblings</label>
                    <div class="select select--green--d">
                        <select name="" id="siblings">
                            <option value="All" selected >All</option>
                            <option value="Male">Yes</option>
                            <option value="Female">No</option>
                        </select>
                    </div>
                </div>
            </li>

            <li>
                <fieldset>
                    <legend>Country</legend>
                    <div class="cols-2">
                        <label class="control checkbox">
                            <input type="checkbox">
                            <span class="control-indicator"></span>
                            <strong>China</strong>
                        </label>
                        <label class="control checkbox">
                            <input type="checkbox">
                            <span class="control-indicator"></span>
                            <strong>Columbia</strong>
                        </label>
                        <label class="control checkbox">
                            <input type="checkbox">
                            <span class="control-indicator"></span>
                            <strong>Taiwan</strong>
                        </label>
                        <label class="control checkbox">
                            <input type="checkbox">
                            <span class="control-indicator"></span>
                            <strong>U.S.</strong>
                        </label>
                    </div>
                </fieldset>
            </li>

            <li>
                <label for="ethnicity">Ethnicity</label>
                <div class="select select--green--d u-full-width">
                    <select name="" id="ethnicity">
                        <option value="All" selected >All</option>
                        <option value="lorem">Lorem</option>
                        <option value="Ipsum">Ipsum</option>
                        <option value="Dolar">Dolar</option>
                    </select>
                </div>
            </li>

            <li>
                <label for="ageRange">Age Range</label>
                <div id="ageRange" class="age-range"></div>
            </li>

            <li>
                <input class="button button--rnd" type="submit" value="Submit">
            </li>
        </ul>
    </form>
</section>





<h1>Profile login</h1>

<section class="profile-login">
    <strong class="profile-login__title">For access to more profiles, log in</strong>
    <form action="">
        <ul class="form-fields form-fields--center">
            <li>
                <label for="username">Username</label>
                <input type="text" required id="username">
            </li>
            <li>
                <label for="passwprd">Password</label>
                <input type="password" required id="passwprd">
            </li>
            <li>
                <input class="button button--rnd" type="submit" value="Submit">
            </li>
        </ul>
    </form>
    <p class="profile-login__extra">Don’t have a profile? <a href="">Get started »</a></p>

</section>





<h1>Profile navigation</h1>

<nav class="profile-navigation">
    <a href="" class="profile-navigation__prev">Previous child</a>
    <a href="" class="profile-navigation__next">Next child</a>
    <a href="" class="profile-navigation__all">View all children</a>
</nav>





<h1>Filters</h1>

<ul class="filters">
    <li><strong>Gender:</strong> <a href="">All{{ svgSprite.icon('close-circle') }}</a></li>
    <li><strong>Siblings:</strong> <a href="">No{{ svgSprite.icon('close-circle') }}</a></li>
    <li><strong>Country:</strong> <a href="">All{{ svgSprite.icon('close-circle') }}</a></li>
    <li><strong>Ethnicity:</strong> <a href="">All{{ svgSprite.icon('close-circle') }}</a></li>
    <li><strong>Age Range:</strong> <a href="">0 - 15{{ svgSprite.icon('close-circle') }}</a></li>
    <li class="filters__clear"><a href="">Clear all{{ svgSprite.icon('close-circle') }}</a></li>
</ul>





<h1>Profile snippet</h1>

<div class="profile-snippet">
    <a href="" class="profile-snippet__photo">
        <img src="/static/img/temp/profile-snippet-1.jpg" alt="Anna Maria">
    </a>

    <div class="profile-snippet__details">
        <h4>Anna Maria</h4>

        <div class="profile-snippet__meta">
            <dl class="meta-list meta-list--inline">
                <dt>Gender:</dt>
                <dd><span class="u-sr-only">Female</span>{{ svgSprite.icon('person', '', 'person--f') }}</dd>

                <dt>Age:</dt>
                <dd>1</dd>
            </dl>

            <dl class="meta-list meta-list--inline">
                <dt>Country:</dt>
                <dd>Taiwan</dd>
            </dl>
        </div>
    </div>

    <a href="" class="profile-snippet__link">Learn more</a>
</div>





<h1>Profile (teaser)</h1>

<article class="profile">
    <section class="profile__photos">
        <img class="profile" src="/static/img/temp/profile-1.jpg" alt="Nova">
    </section>


    <section class="profile__meta">
        <section class="profile__actions">
            <a href="" class="button button--xs button--rnd button--outline">Save</a>
            <a href="" class="button button--xs button--rnd button--outline-navy">Inquire</a>
        </section>

        <h1 class="profile__title">Nova</h1>

        <dl class="meta-list">
            <dt>Age:</dt>
            <dd>1</dd>
            <dt>Gender:</dt>
            <dd>{{ svgSprite.icon('person', '', 'person--f') }} Female</dd>
            <dt>Country:</dt>
            <dd>China</dd>
            <dt>Ethnicity:</dt>
            <dd>Asian</dd>
            <dt>Primary Language:</dt>
            <dd>Chinese</dd>
            <dt class=""><em>{{ svgSprite.icon('heart') }}Please log in to view this information</em></dt>
            <dt class=""><em>{{ svgSprite.icon('dollar') }}Grant available</em></dt>
        </dl>

        <dl class="meta-list">
            <dt>Siblings:</dt>
            <dd>Yes</dd>
            <dt class="indent">To Be Kept Together:</dt>
            <dd class="indent">Yes</dd>
            <dt class="indent" class=""><em>{{ svgSprite.icon('group') }}Please log in to view this information</em></dt>
        </dl>

        <dl class="meta-list">
            <dt>Post Date:</dt>
            <dd>June 2017</dd>
        </dl>
    </section>


    <section class="profile__body">
        <p>To view more information, please login to your My Gladney account.</p>
    </section>

</article>





<h1>Featured Profiles</h1>

<section class="featured-profiles">
    {# <div class="l-container l-container--17"> #}
        <h3 class="featured-profiles__title">Meet out Other Children</h3>
        <ul class="featured-profiles__list">
            <li class="featured-profiles__item">
                <a href="">
                    <img src="/static/img/temp/featured-profile-1.jpg" alt="Lyrica">
                    <h4>Meet Lyrica <span>Learn more</span></h4>

                </a>
            </li>

            <li class="featured-profiles__item">
                <a href="">
                    <img src="/static/img/temp/featured-profile-1.jpg" alt="Lyrica">
                    <h4>Meet Lyrica <span>Learn more</span></h4>

                </a>
            </li>

            <li class="featured-profiles__item">
                <a href="">
                    <img src="/static/img/temp/featured-profile-1.jpg" alt="Lyrica">
                    <h4>Meet Lyrica <span>Learn more</span></h4>

                </a>
            </li>
        </ul>
        <p>
            <a href="" class="button">View all</a>
        </p>
    {# </div> #}
</section>



<h1>Team Member</h1>

<div class="team-member">
    <img src="/static/img/temp/team-member-1.jpg" alt="Heather Rogers, LPC" class="team-member__photo">
    <div class="team-member__details">
        <h3 class="team-member__name">Heather Rogers, LPC</h3>
        <p class="team-member__title">Lead Post Adoption Specialist – <em>Birth Parents</em></p>
        <p class="team-member__contacts">
            <a href="tel:8179226085">(817) 922-6085</a><br>
            <a href="mailto:mail@mail.com" title="Click to email Heather Rogers, LPC">{{ svgSprite.icon('email', '') }} Email</a>
        </p>
    </div>
</div>





<h1>Location map</h1>

<section class="location-map">
    <div class="location-map__map" id="gladneyLocation"></div>
    <div class="location-map__location">
        <h3 class="location-map__title">Gladney Center for Adoption</h3>
        <p>
            6300 John Ryan Drive<br>
            Fort Worth, Texas 76132-4122<br>
            <a href="tel:8179226000">817-922-6000</a>
        </p>
        <p><a href="https://www.google.com/maps/dir/?api=1&destination=Gladney+Center+For+Adoption+Fort+Worth+TX%destination_place_id=ChIJLxDsrThtToYRLwwMkdrFlVQ" class="button button--rnd" title="Get directions">Get Directions</a></p>
    </div>
</section>





<h1>Contact Card</h1>

<section class="contact-card">
    <div class="contact-card__intro">
        <p class="lede"><em>At Gladney</em> you'll find not only passion for adoption, but also an established legacy of service, professionalism and integrity. Please contact us today to speak to one of our adoption professionals.</p>
    </div>

    <div class="contact-card__logo">
        <img src="/static/img/branding/gladney-logo-white.svg" alt="{{ siteName }} logo">
    </div>

    <div class="contact-card__address">
        <strong>Gladney Center for Adoption</strong>
        <p>
            6300 John Ryan Drive<br>
            Fort Worth, Texas 76132-4122<br>
            <a href="tel:8179226000">817-922-6000</a>
        </p>
    </div>
</section>





<h1>Social icons</h1>

<ul class="social-icons">
    <li><a href="">{{ svgSprite.icon('facebook','Facebook Icon') }}</a></li>
    <li><a href="">{{ svgSprite.icon('twitter','Twitter Icon') }}</a></li>
    <li><a href="">{{ svgSprite.icon('googleplus','GooglePlus Icon') }}</a></li>
    <li><a href="">{{ svgSprite.icon('instagram','Instagram Icon') }}</a></li>
    <li><a href="">{{ svgSprite.icon('youtube','Youtube Icon') }}</a></li>
    <li><a href="">{{ svgSprite.icon('pinterest','Pinterest Icon') }}</a></li>
    <li><a href="">{{ svgSprite.icon('linkedin','LinkedIn Icon') }}</a></li>
</ul>





<h1>Big heading (subtitle is optional)</h1>
<header class="big-heading">
    <h1 class="big-heading__title">Adopting a Child Internationally</h1>
    <h2 class="big-heading__subtitle">Columbia</h2>
</header>





<h1>Title list</h1>

<section class="title-list">
    <h3 class="title-list__title">Our Services</h3>

    <ul class="title-list__list">
        <li>Professional CEU Trainings</li>
        <li>Post Adoption</li>
        <li>Humanitarian Aid</li>
        <li>Superkids</li>
        <li>Voluntary Registry</li>
        <li>Legislative & Advocacy Efforts</li>
    </ul>

    <a href="" class="title-list__link">More Services</a>
</section>





<h1>Article snippet list</h1>
<ul class="article-snippet-list">
    <li>
        <a href="">
            <strong>November 7, 2016</strong>
            <p>Name of the Next Upcoming Event</p>
        </a>
    </li>

    <li>
        <a href="">
            <strong>November 7, 2016</strong>
            <p>Name of the Next Upcoming Event</p>
        </a>
    </li>

    <li>
        <a href="">
            <strong>November 7, 2016</strong>
            <p>Name of the Next Upcoming Event</p>
        </a>
    </li>
</ul>





<h1>Pull content</h1>

<div class="l-container l-container--9">
    <p>Sample content in l-container--9 ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatem vitae, sint iure, iste modi nisi consequuntur expedita consectetur a, repellendus minus tenetur nesciunt.</p>
    <p>Sunt cupiditate reprehenderit vero fuga voluptas placeat aliquid tenetur maiores. Dolor mollitia ex, veritatis sequi est at, dolorum laborum aperiam magni nulla dolores laboriosam odio rem id aspernatur iste, quod ad sit incidunt iure quae! Dolores at, itaque expedita incidunt corporis libero deleniti aliquid!</p>

    <img class="pull-content pull-content--left" src="/static/img/temp/image-carousel-1.jpg" alt="">

    <p>Cum delectus rem earum sint ea doloribus deleniti nulla expedita, hic repellat, in ullam nisi ex! Ratione libero distinctio perspiciatis possimus totam nulla cupiditate provident, natus cumque voluptatibus eaque incidunt vitae numquam exercitationem dignissimos in quos, delectus iure, fuga blanditiis impedit ad illum expedita facere. Distinctio consectetur delectus iure.</p>
    <p>Sample content in l-container--9 ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatem vitae, sint iure, iste modi nisi consequuntur expedita consectetur a, repellendus minus tenetur nesciunt.</p>
    <img class="pull-content pull-content--right" src="/static/img/temp/image-carousel-1.jpg" alt="">
    <p>Sunt cupiditate reprehenderit vero fuga voluptas placeat aliquid tenetur maiores. Dolor mollitia ex, veritatis sequi est at, dolorum laborum aperiam magni nulla dolores laboriosam odio rem id aspernatur iste, quod ad sit incidunt iure quae! Dolores at, itaque expedita incidunt corporis libero deleniti aliquid!</p>
    <p>Doloremque odio deserunt minus debitis architecto sint, quas, ut obcaecati magni laudantium dignissimos sit delectus eligendi sapiente itaque veritatis. Deserunt obcaecati sunt in delectus nihil harum sapiente a, repudiandae nisi beatae iure. Pariatur optio a quis enim dolor. Aperiam soluta laborum nulla veniam animi optio, nihil sint aliquid eius. Animi rem reiciendis, sint enim tenetur libero, beatae ut magnam neque laboriosam perspiciatis! Expedita, quia alias accusantium reprehenderit a laboriosam corporis voluptas. Modi, beatae, ullam! Autem illum perspiciatis similique nostrum sint repudiandae debitis blanditiis</p>
</div>





<h1>Lede</h1>

<p class="lede">Gladney has provided Independent Adoption services for several years, and offers a high level of service to adoptive parents and birth parents. Each adoption, like each family, is unique. Our goal is to get to know you and understand your situation so that, together, we can customize your adoption experience to meet your needs.</p>





<h1>Bullet list</h1>

<ul class="bullet-list">
    <li>Prefer expectant mother to live in the State of Texas (other areas served Arkansas, Florida, and Oklahoma)</li>
    <li>Adoptive Parents have an approved home study from a licensed agency</li>
    <li>Adoptive Parents married for a minimum of one year</li>
    <li>One adoptive parent must be a U.S. citizen</li>
</ul>





<h1>Line title (notice span wrapper)</h1>

<h3 class="line-title"><span>Text is in a span element</span></h3>





<h1>Underline title</h1>

<h2 class="underline-title">Telephone a regional office</h2>





<h1>Exploring adoptions</h1>

<h2 class="exploring-adoption"><span>Exploring</span> Adoption</h2>





<h1>Telephone list (combined with .l-matrix--3)</h1>

<dl class="telephone-list l-matrix l-matrix--3">
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>
    <div>
        <dt>Fort Worth, TX</dt>
        <dd><a class="plain-link" href="tel:8179226000">817-922-6000</a></dd>
    </div>

</dl>





<h1>Links</h1>

<p>
    <a href="">Standard default link</a>
</p>
<p>
    <a class="plain-link" href="">Plain link</a>
</p>
<p>
    <a class="inline-link" href="">Inline link</a>
</p>





<h1>Quick Contact</h1>

<section class="quick-contact">
    <div class="l-container">
        <h3 class="quick-contact__title">Quick Contact</h3>
        <form action="">
            <ul class="form-fields">
                <li class="single-line">
                    <label for="name" class="u-sr-only">Name</label>
                    <input type="text" placeholder="Name" required id="name">

                    <label for="phone" class="u-sr-only">Phone</label>
                    <input type="tel" placeholder="Phone" required id="phone">

                    <label for="email" class="u-sr-only">Email Address</label>
                    <input type="email" placeholder="Email" required id="email">

                    <label for="zip" class="u-sr-only">Zip Code</label>
                    <input type="text" placeholder="Zip Code" required id="zip">
                </li>

                <li>
                    <div class="select select--salmon u-full-width">
                        <select name="" id="">
                            <option value="What are you contacting us about today?" selected disabled>What are you contacting us about today?</option>
                            <option value="">Lorem ipsum dolor</option>
                            <option value="">Consectetur adipisicing elit</option>
                            <option value="">Suscipit, soluta</option>
                        </select>
                    </div>
                </li>

                <li>
                    <label for="message" class="u-sr-only">Your Message</label>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                </li>

                <li class="form-actions">
                    <input class="button button--wide button--neutral" type="submit" value="Submit">
                </li>
            </ul>
        </form>
    </div>
</section>





<h1>Site footer</h1>
<footer class="site-footer">
    <div class="l-container">
        <div class="l-grid">
            <section class="site-footer__links">
                <h5>Other links</h5>
                <ul>
                    <li><a href="">I’m pregnant</a></li>
                    <li><a href="">I am gladney</a></li>
                    <li><a href=""><span class="adopted">Adopt<i>Ed</i></span></a></li>
                    <li><a href="">Gladney University</a></li>
                </ul>

                <ul class="social-icons site-footer__social">
                    <li><a href="">{{ svgSprite.icon('facebook','Facebook Icon') }}</a></li>
                    <li><a href="">{{ svgSprite.icon('twitter','Twitter Icon') }}</a></li>
                    <li><a href="">{{ svgSprite.icon('googleplus','GooglePlus Icon') }}</a></li>
                    <li><a href="">{{ svgSprite.icon('instagram','Instagram Icon') }}</a></li>
                    <li><a href="">{{ svgSprite.icon('youtube','Youtube Icon') }}</a></li>
                    <li><a href="">{{ svgSprite.icon('pinterest','Pinterest Icon') }}</a></li>
                    <li><a href="">{{ svgSprite.icon('linkedin','LinkedIn Icon') }}</a></li>
                </ul>
            </section>


            <section class="site-footer__events">
                <h5>Upcoming Events</h5>
                <ul class="article-snippet-list">
                    <li>
                        <a href="">
                            <strong>November 7, 2016</strong>
                            <p>Name of the Next Upcoming Event</p>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <strong>November 7, 2016</strong>
                            <p>Name of the Next Upcoming Event</p>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <strong>November 7, 2016</strong>
                            <p>Name of the Next Upcoming Event</p>
                        </a>
                    </li>
                </ul>
            </section>


            <section class="site-footer__posts">
                <h5>Recent Blog Posts</h5>
                <ul class="article-snippet-list">
                    <li>
                        <a href="">
                            <strong>November 7, 2016</strong>
                            <p>Name of the Next Blog Post</p>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <strong>November 7, 2016</strong>
                            <p>Name of the Next Blog Post</p>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <strong>November 7, 2016</strong>
                            <p>Name of the Next Blog Post</p>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</footer>





<h1>Newsletter signup</h1>

<section class="newsletter-signup">
    <div class="l-container">
        <h5>Stay Connected with Us</h5>
        <form action="">
            <label for="name" class="u-sr-only">Name</label>
            <input type="text" placeholder="Name" required id="name">
            <label for="email" class="u-sr-only">Email Address</label>
            <input type="email" placeholder="Email" required id="email">
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</section>





<h1>Impressum</h1>

<section class="impressum">
    <div class="l-container l-container--17">
        <div class="impressum__logos">
            <a href="http://www.chsamerica.org" title="Visit the Childrens Home Society of America website"><img src="/static/img/footer-logos/childrens-home-society-of-america.png" alt="Childrens Home Society of America logo"></a>
            <a href="https://www.adoptioncouncil.org" title="Visit the National Council for Adoption website"><img src="/static/img/footer-logos/national-council-for-adoption.png" alt="National Council for Adoption logo"></a>
            <a href="http://www.tacfs.org" title="Visit the Texas Alliance of Child & Family Services website"><img src="/static/img/footer-logos/tacfs.png" alt="Texas Alliance of Child & Family Services logo"></a>
            <a href="http://coanet.org" title="Visit the Council on Accreditation website"><img src="/static/img/footer-logos/coa.png" alt="Council on Accreditation logo"></a>
        </div>


        <div class="impressum__text">
            <p>The Council on Accreditation (COA), a national accrediting entity designated by the US Department of State to provide Hague Accreditation and Approval, invites the public to provide comment on intercountry adoption service providers seeking Hague Accreditation, Approval or Renewal. You are invited to provide comments through <a href="http://oanet.org/accreditation/hague-accreditation-and-approval/public-comment/">COA’s website</a></p>
        </div>
    </div>
</section>





<h1>Default modal</h1>

<a href="#defaultModal" class="js-modal-trigger">Launch modal</a>

<div class="modal mfp-hide" id="defaultModal">
    <div class="l-container l-container--9">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet exercitationem temporibus sed, deleniti suscipit quibusdam, debitis ducimus. Sunt sed, illo quibusdam facilis sint, enim voluptate repellat numquam quas? Repudiandae magni provident iure nam doloremque natus atque, voluptatem quas facere praesentium eum cum ut, laborum incidunt at illo ab quae blanditiis, eligendi cupiditate mollitia nihil consequuntur rerum? Consectetur ipsum vitae, perferendis, distinctio obcaecati voluptates ipsam sapiente enim hic facere, architecto, temporibus optio officiis cum sint quaerat voluptatibus nostrum delectus neque doloribus ratione nulla repudiandae a. Possimus autem nihil qui nostrum eveniet labore eligendi minima inventore quibusdam laborum, doloribus minus reiciendis.</p>
    </div>
</div>





<h1>Login modal</h1>

<a href="#loginModal" class="js-modal-trigger">Launch modal</a>

<div class="modal login-modal mfp-hide" id="loginModal">
    <div class="l-container">
        <img src="/static/img/branding/gladney-icon-white.svg" class="login-modal__icon">

        <p class="login-modal__intro">
            Due to confidentiality requirements, a username and password are required to view our waiting children.
        </p>

        <form action="" class="login-modal__form">
            <ul class="form-fields form-fields--center">
                <li>
                    <label for="name">Name</label>
                    <input type="text" placeholder="Name" required id="name">
                </li>
                <li>
                    <label for="email">Email Address</label>
                    <input type="email" placeholder="Email" required id="email">
                </li>
                <li>
                    <input class="button" type="submit" value="Submit">
                </li>
            </ul>
        </form>

        <p class="login-modal__extra">Don’t have a profile? Complete Gladney’s Inquiry form to <a href="">get started »</a></p>
    </div>
</div>





<h1>Survey form (e.g. Reousrces > Readiness Guide) Note ordered list</h1>

<div class="l-container l-container--9">
    <form class="survey-form" action="">
        <ul class="form-fields">
            <li>
                <label for="">Why do you want to become parents?</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Answer"></textarea>
            </li>

            <li>
                <label for="">Do you and your spouse share the same desire to have children?</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Answer"></textarea>
            </li>

            <li>
                <label for="">If infertility has been an issue for you, do you feel like you have
    worked through your feelings?</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Answer"></textarea>
            </li>

            <li>
                <label for="">Do you feel that you are finished with infertility treatments and procedures?</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Answer"></textarea>
            </li>

            <li class="extra-field">
                <label for="email">Once you feel comfortable with your answers, you can email a summary to yourself for your own records.</label>
                <input type="email" placeholder="Email" required id="email">
            </li>

            <li class="form-actions">
                <input class="button button--wide button--positive" type="submit" value="Submit">
            </li>
        </ul>
    </form>
</div>





<h1>WYSIWYG Content</h1>

<div class="l-container l-container--9 wysiwyg">
    <h1>Lorem ipsum dolor sit amet</h1>
    <h2>Lorem ipsum dolor sit amet</h2>
    <h3>Lorem ipsum dolor sit amet</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <h5>Lorem ipsum dolor sit amet</h5>

    <h1>Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam temporibus dignissimos, explicabo, nostrum sunt molestiae. Possimus, at minima incidunt dolores.</p>
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus, dignissimos, odio quam fugiat facilis commodi ex maxime non, veniam est atque modi voluptatibus cupiditate ipsa eligendi necessitatibus. Quas, accusamus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloribus expedita cupiditate reiciendis, provident tempore.</p>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus, dignissimos, odio quam fugiat facilis commodi ex maxime non, veniam est atque modi voluptatibus cupiditate ipsa eligendi necessitatibus. Quas, accusamus.</p>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus, dignissimos, odio quam fugiat facilis commodi ex maxime non, veniam est atque modi voluptatibus cupiditate ipsa eligendi necessitatibus. Quas, accusamus.</p>
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus, dignissimos, odio quam fugiat facilis commodi ex maxime non, veniam est atque modi voluptatibus cupiditate ipsa eligendi necessitatibus. Quas, accusamus.</p>
    <h3>Lorem ipsum dolor sit amet</h3>
    <h4>Lorem ipsum dolor sit amet</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus, dignissimos, odio quam fugiat facilis commodi ex maxime non, veniam est atque modi voluptatibus cupiditate ipsa eligendi necessitatibus. Quas, accusamus.</p>
    <h4>Lorem ipsum dolor sit amet</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus, dignissimos, odio quam fugiat facilis commodi ex maxime non, veniam est atque modi voluptatibus cupiditate ipsa eligendi necessitatibus. Quas, accusamus.</p>
    <h5>Lorem ipsum dolor sit amet</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ducimus, dignissimos, odio quam fugiat facilis commodi ex maxime non, veniam est atque modi voluptatibus cupiditate ipsa eligendi necessitatibus. Quas, accusamus.</p>

    <h2>Unordered list</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusantium totam quia quae sint asperiores error nostrum autem cum. Dignissimos?</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse accusamus cupiditate soluta, voluptate iure quidem!</li>
    </ul>

    <h2>Ordered list</h2>
    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex accusantium totam quia quae sint asperiores error nostrum autem cum. Dignissimos?</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse accusamus cupiditate soluta, voluptate iure quidem!</li>
    </ol>

    <h2>Blockquote</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet provident minima quis animi illo quod commodi eius iste dolor atque inventore officiis, libero nemo odio veritatis adipisci voluptatum, architecto tempora quo accusantium ratione facilis. Reiciendis, obcaecati! Praesentium, nesciunt, numquam.</p>
    <blockquote>
        <p>There are no illegitimate children, only illegitimate parents.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quis consequatur dicta?</p>
        <cite>Edna Gladney</cite>
    </blockquote>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet provident minima quis animi illo quod commodi eius iste dolor atque inventore officiis, libero nemo odio veritatis adipisci voluptatum, architecto tempora quo accusantium ratione facilis. Reiciendis, obcaecati! Praesentium, nesciunt, numquam.</p>

    <h2>Table</h2>
    <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>One</th>
            <th>Two</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Three</td>
            <td>Four</td>
          </tr>
          <tr>
            <td>Five</td>
            <td>Six</td>
          </tr>
          <tr>
            <td>Seven</td>
            <td>Eight</td>
          </tr>
          <tr>
            <td>Nine</td>
            <td>Ten</td>
          </tr>
          <tr>
            <td>Eleven</td>
            <td>Twelve</td>
          </tr>
        </tbody>
      </table>
</div>


{% endblock %}