<div class="sign-off-photo">
  <div class="sign-off-photo__photo">
    <img src="{{ photo }}" alt="">
  </div>
  <div class="sign-off-photo__content">
    <p>
      {{ signed }}
    </p>
    <img class="sign-off-photo__sig" src="{{ img }}" alt="">
    <p>
      <strong>{{ name }}</strong><br/>
      <em class="sign-off-photo__role">{{ role }}</em>
    </p>
  </div>
</div>